<div class="title-wrapper">
  <div class="container">
    <h1 class="title">Your online class</h1>
  </div>
</div>

<div class="container">
  <div 
    class="twilio-video" 
    data-sid="<%= ENV["ACCOUNT_SID"] %>" 
    data-room="<%= @booking.url_room %>" 
    data-token="<%= @token %>"
    >

    <div class="row justify-content-center">
      <div class="col-6">
        <div class="participant">
        </div>
      </div>
      <div class="col-6">
        <div class="remote-media-div text-center">
          <video id="userVideo" autoplay muted="true" ></video>
          <div>
            <button id='leave-btn' class='btn btn-primary mt-3'> 
              Quittez
            </button>
          </div>
        </div>
      </div>
    </div>
   <% if @booking.course %>
    <div class="row">
      <div class="col-7">
      <p class="text-center">
        <%=  @booking.user == current_user ? @booking.course.user.email : @booking.user.email %>
      </p>
      </div>
    </div>
      <% end %>
    <%= link_to '', root_path, class: 'd-none root-link', data: {turbolinks: false}  %>

  </div>
</div>


