<div><h1> </h1></div>
<div class="container">
  <div class="row">
    <div class="col-9 col-lg-7">
      <div class="card">
        <h1><%= @course.title %></h1>
        <img class="card-img-top" src="<%= @course.photo_url %>
        " alt="Card image cap">
        <div class="card-body">
          <p class="card-text"> <%= @course.title  %>  </p>
          <p>Description <%= @course.description  %> </p>
          <p><i class="fas fa-clock"style="margin-right:0.5em"></i><%= @course.duration  %> </p>
          <p><i class="far fa-money-bill-alt"style="margin-right:0.5em">   </i><%= @course.price  %> </p>
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-4">
      <div class="card286">
            <div class="container">
              <div class="form-wrapper" style="width: 400px; margin: 0 auto;">
               <h2><strong>Book a Course</strong></h2>

                <%= simple_form_for [@course , @booking]  do |f| %>
                  <%= f.input :start_date, as: :string, required: false, input_html: {class: "datepicker"} %>
                  <%= f.input :end_date, as: :string, required: false, input_html: {class: "datepicker"} %>
                  <%= f.button :submit, "book", class: "btn btn-primary" %>
                <% end %>
              </div>
            </div>


       
<%  @course.reviews.each do |review|   %>
<div class = "review">
<%= review.comment %>
<%=  "â­" * review.rating  %> 
</div>
<% end  %>
<br></br>

<div class="btn">
 <%= link_to  "create your review", new_course_review_path(@course) %>
 </div>

</div>
<br></br>

<div class="card">
    <img src="https://scontent.fmru7-1.fna.fbcdn.net/v/t1.6435-9/90305980_239715910399706_2193308204564217856_n.jpg?_nc_cat=108&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=IzRECa72wfEAX8Opsmw&_nc_ht=scontent.fmru7-1.fna&oh=e5611553918c7f2b3558a3f50899485d&oe=61BCEEA2" alt="">
    <h3>Jivesh</h3>
    <p>Physics with theoretical physics (Bachelors) - Nottingham University<br></br>Hi, I'm Jivesh, a second year Physics undergrad at the University of Nottingham.
    Personally I've always been a fan of mathematics.</br></p>
    <div class="icons">
        <a href="#" class="fab fa-facebook-f"></a>
        <a href="#" class="fab fa-twitter"></a>
        <a href="#" class="fab fa-instagram"></a>
        <a href="#" class="fab fa-github"></a>
    </div>
</div>



          </div>
        </div>
      </div>
    </div>
  </div>
</div>

