<div><h1> </h1></div>
<div class="container">
  <div class="row">
    <div class="col-12 col-lg-8">
      <div class="card286">
        <h1><%= @course.title %></h1>
        <img class="card-img-top" src="<%= @course.photo_url %>
        " alt="Card image cap">
        <div class="card-body">
          <p class="card-text"> <%= @course.title  %>  </p>
          <p>Description <%= @course.description  %> </p>
          <p>duration<%= @course.duration  %> </p>
          <p>price<%= @course.price  %> </p>
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-4">
      <div class="card286">
            <div class="container">
              <div class="form-wrapper" style="width: 400px; margin: 0 auto;">
               <h2><strong>Book a Course</strong></h2>

                <%= simple_form_for [@course , @booking]  do |f| %>
                  <%= f.input :start_date, as: :string, required: false, input_html: {class: "datepicker"} %>
                  <%= f.input :end_date, as: :string, required: false, input_html: {class: "datepicker"} %>
                  <%= f.button :submit, "book", class: "btn btn-primary" %>
                <% end %>
              </div>
            </div>


       
<%  @course.reviews.each do |review|   %>
<div class = "review">
<%= review.comment %>
<%=  "â­" * review.rating  %> 
</div>
<% end  %>



 <%= link_to  "create your review", new_course_review_path(@course) %>

</div>
<div class="card">
    <img src="https://images.generated.photos/BsV8G1EtmYVoSO_hH1bJlrCtridiJ_9tF_folYmeFGk/rs:fit:256:256/czM6Ly9pY29uczgu/Z3Bob3Rvcy1wcm9k/LnBob3Rvcy92M18w/MzM5NzAyLmpwZw.jpg" alt="">
    <h3>Jake P.</h3>
    <p>Physics with theoretical physics (Bachelors) - Nottingham University<br>Hi, I'm Jake P, a second year Physics undergrad at the University of Nottingham.
    Personally I've always been a fan of mathematics, the thrill of of finally understanding a concept you've been trying to wrap your mind around for ages is irreplaceable. This is further amplified when you can apply the maths you've learnt in school to the real world through physics. I hope I can spark a similar passion in my students, as the transcendental skills learnt in study...</br></p>
    <div class="icons">
        <a href="#" class="fab fa-facebook-f"></a>
        <a href="#" class="fab fa-twitter"></a>
        <a href="#" class="fab fa-instagram"></a>
        <a href="#" class="fab fa-github"></a>
    </div>
</div>



          </div>
        </div>
      </div>
    </div>
  </div>
</div>

